
<mat-sidenav-container fullscreen>
  <mat-sidenav  #sidenav mode="push">
    <mat-toolbar >
      <span>Menú</span>
      <button  mat-icon-button
               (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>

      <!-- ***************** READ ************************ -->

      <mat-list-item routerLink="./inicio" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Inicio</span>
      </mat-list-item>

     <mat-list-item routerLink="./gastos" (click)="sidenav.toggle()">
       <mat-icon mat-list-icon>shopping_cart</mat-icon>
       <span>Ver gastos</span>
     </mat-list-item>

     <mat-list-item routerLink="./ingresos" (click)="sidenav.toggle()">
       <mat-icon mat-list-icon>attach_money</mat-icon>
       <span>Ver ingresos</span>
     </mat-list-item>

     <mat-list-item routerLink="./ingresos" (click)="sidenav.toggle()">
       <mat-icon mat-list-icon>label</mat-icon>
       <span>Ver Categorias</span>
     </mat-list-item>

      <mat-list-item routerLink="./ingresos" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span>Opciones</span>
      </mat-list-item>

      <mat-list-item routerLink="./ingresos" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        <span>Ver Gráficas</span>
      </mat-list-item>

     <!-- *****************CREATE ************************ -->
      <mat-list-item routerLink="./crear-gasto" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Agregar Gasto</span>
      </mat-list-item>

      <mat-list-item routerLink="./crear-ingreso" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Agregar Ingreso</span>
      </mat-list-item>

      <mat-list-item routerLink="./crear-categoria" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Crear Categoria</span>
      </mat-list-item>


      <mat-list-item routerLink="./crear-categoria" (click)="sidenav.toggle()">
        <button (click)="logout()" mat-icon-button>
          <mat-icon>logout</mat-icon>
        </button>
        <span>Salir</span>
      </mat-list-item>


    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar >

    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>
    <app-logo ></app-logo>
    <mat-slide-toggle><mat-icon>dark_mode</mat-icon></mat-slide-toggle>

  </mat-toolbar>

  <div class="container" style="margin: 0 auto">
    <router-outlet></router-outlet>
  </div>
  <hr>
  <app-footer></app-footer>
  <hr>
</mat-sidenav-container>

