<div fxLayout="row wrap "
     fxLayoutAlign="center center"

>

  <!-- INGRESOS  -->
  <mat-card
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex.lg="25"
    fxLayoutGap="1rem"
    routerLink="/app/crear-ingreso"
    class="m-2 pointer">
    <mat-card-header fxLayout="row">
      <mat-icon class="text-success icon-display mx-2">payments</mat-icon>
      <mat-icon class="mx-2">add</mat-icon>
    </mat-card-header>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <span class="text-center">Agregar ingresos</span>
    </mat-card-content>
  </mat-card>
  <!-- FIN INGRESOS  -->

  <!-- GASTOS  -->
  <mat-card
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex.lg="25"
    fxLayoutGap="1rem"
    routerLink="/app/crear-gasto"
    class="m-2 pointer">
    <mat-card-header fxLayout="row">
      <mat-icon class=" icon-display text-success mx-2">shopping_cart</mat-icon>
      <mat-icon class="mx-2">add</mat-icon>

    </mat-card-header>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <span class="text-center">Agregar gastos</span>
    </mat-card-content>
  </mat-card>
  <!-- FIN GASTOS  -->

  <!-- CATEGORIAS -->
  <mat-card
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="35"
    fxFlex.lg="25"
    fxLayoutGap="1rem"
    routerLink="/app/crear-categoria"
    class="m-2 pointer">
    <mat-card-header>
      <mat-icon class="text-success icon-display mx-2">label</mat-icon>
      <mat-icon class="mx-2">add</mat-icon>
    </mat-card-header>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center">
      <span class="text-center">Agregar categoría</span>
    </mat-card-content>
  </mat-card>
  <!-- FIN CATEGORIAS  -->

  <!-- MOVIMIENTOS  -->
  <mat-card
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="35"
    fxFlex.lg="25"
    fxLayoutGap="1rem"
    routerLink="/app/movimientos"
    class="m-2 pointer">
    <mat-card-header>
      <mat-icon class="icon-display text-success mx-2">fact_check</mat-icon>
      <mat-icon class="mx-2">visibility</mat-icon>
    </mat-card-header>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center">
      <span class="text-center">Listado de movimientos</span>
    </mat-card-content>
  </mat-card>
  <!-- FIN MOVIMIENTOS -->

  <!-- REPORTES  -->
  <mat-card
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="35"
    fxFlex.lg="25"
    fxLayoutGap="1rem"
    routerLink="/app/dashboard"
    class="m-2 pointer">
    <mat-card-header>
      <mat-icon class="text-success icon-display mx-2">bar_chart</mat-icon>
      <mat-icon class="mx-2">visibility</mat-icon>
    </mat-card-header>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center">
      <span class="text-center">Reportes</span>
    </mat-card-content>
  </mat-card>
  <!-- FIN REPORTES  -->

  <!-- OPCIONES  -->
  <mat-card
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="35"
    fxFlex.lg="25"
    fxLayoutGap="1rem"
    routerLink="/app/opciones"
    class="m-2 pointer">
    <mat-card-header>
      <mat-icon class="text-success icon-display mx-2">settings</mat-icon>
      <mat-icon class="mx-2">visibility</mat-icon>
    </mat-card-header>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center">
      <span class="text-center">Opciones</span>
    </mat-card-content>
  </mat-card>

  <!-- FIN OPCIONES -->
</div>

