<div fxLayout="column"
     fxLayoutGap="1rem"
     class="mt-3 align-items-center animate__animated animate__fadeInLeftBig">

  <h1 class="">Reportes</h1>


  <form [formGroup]="formFilter"
        fxLayout="column wrap"
        (ngSubmit)="filter()"
        fxLayoutGap="1.5rem">

    <div>
      <button mat-button
              mat-raised-button
              routerLink="/app/inicio">Volver</button>
    </div>


    <mat-form-field appearance="fill">
      <mat-label>Buscar por año</mat-label>
      <mat-select formControlName="year">
        <mat-option *ngFor="let year of years;let i = index"
                    [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Buscar por mes</mat-label>
      <mat-select formControlName="month">

        <mat-option *ngFor="let month of months;let i = index"
                    [value]="i">{{month}}</mat-option>
      </mat-select>
    </mat-form-field>



    <button mat-raised-button color="accent">Buscar</button>



    <p>Selected range: {{formFilter.value | json}}</p>

  </form>



  <hr>

  <div class="row w-100 justify-content-center">
    <h2 class="text-center">Reportes de Gastos e ingresos por mes/año</h2>
    <app-line-chart style="max-width: 700px"></app-line-chart>
    <h2 class="text-center mt-md-5 mt-2">Reportes de Gastos e ingresos por categoria</h2>
    <app-pie-chart style="max-width: 700px"></app-pie-chart>

  </div>



</div>
